# IDE and environment files
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
target/
dist/
*.o
*.a
*.so
*.dll

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Certificates and private keys
cert/
*.key

# Other
uv_install.sh
/cpp/build/
/webapp/target/
/python/.venv/